<style>

  body{
    background-color: #DCE1E3;
  }

  #header{
    text-align: center;
    background-color: skyblue;
    border: dashed;
    position: static;
    top: 10px;
    right: 1px;
  }

  .heading{
    color: Purple;
    text-align: center;
    text-decoration: underline;
    font-size: 18pt
    top: 0px;
  }

  #welcome{
    color: Purple;
    text-align: center;
    font-size: 18pt
  }


 #para{
     font-size: 15pt
 }

 #para2{
   font-size: 15pt
 }

 #para3{
   font-style: italic;
   font-size: 15pt
 }

 #para4{
   font-size: 15pt
 }

 .paragraph1{
   color: blue;
   display: block;
   width: 75%
}

 .paragraph2{
     color: blue;
     display: inline-block;
     width: 75%;
 }

 .paragraph3{
   color: blue;
   display: block;
   width: 75%
}

.paragraph4{
  color: blue;
  display: block;
  width: 75%
}

  #About{

    font-size: 15pt
  }

  ol{
    font-style: italic;
    color: blue;
    font-size: 15pt
  }

  ul{
    font-style: italic;
    color: blue;
    font-size: 15pt
  }

  .cl{
    font-weight: bold;
  }
  a{
    color: purple;
    font-size: 18pt
  }

  nav{

    word-spacing: 2em;
    font-size: 14pt
  }

  form{
    font-style: italic;
    color: blue;
    font-size: 15pt
  }

img{
  position: relative;
  top: 5px
}

  #box2{
    border: 1px solid;
    height: 650px;
    width: 650px;
    background-color: Black;
  }

Input[type=submit]{
  padding: 5px 15px;
  background: #99e0b2;
}


</style>
